@using EcoRoute.UI.Pages
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <p>Giriş kontrol ediliyor...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>Sayfa bulunamadı</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

