@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div>
    @if (IsAuthenticated)
    {
        <div class="flex h-screen overflow-hidden">
            <NavMenu></NavMenu>
            <div class="flex flex-col flex-1 overflow-hidden">
                <TopNavMenu></TopNavMenu>
                @Body
            </div>
        </div>
    }
    else
    {
        @Body
    }
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthState { get; set; }

    private bool IsAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        IsAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }
}