@using Microsoft.AspNetCore.Components

<div class="flex flex-col items-center justify-center @(FullPage ? "min-h-[400px]" : "py-6")">
    <div class="w-16 h-16 border-4 border-primary-500 border-t-transparent rounded-full animate-spin"></div>
    <p class="mt-4 text-gray-600 dark:text-gray-400">@Message</p>
</div>

@code {

    [Parameter] public string Message { get; set; } = "Yükleniyor...";


    [Parameter] public bool FullPage { get; set; } = true;


    [Parameter] public string CssClass { get; set; } = "";
}