@page "/"
@page "/home"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Atık Yönetim Sistemi | Admin Paneli</PageTitle>

<!-- Main content -->
<main class="flex-1 overflow-y-auto p-6 bg-gray-100 dark:bg-gray-800">
   <p>Burası anasayfa buradan cıkıs yoook</p>
</main>