@page "/profile"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div>
    <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-6">Ana Dashboard</h2>
    Burası kullanıcı profili kısmı
</div>