@page "/routes"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin, Drive")]

<div>
    <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-6">Ana Dashboard</h2>
    Burası Routes kısmı
</div>